<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add user</title>
    <style>
    label {
    display: inline-block;
    width: 7em;
      }
    </style>
  </head>
  <body>
    {% if code==1 %}
   <span class="serverError">
     <b>Message from the server: </b> {{ clue }}
   </span>
   {% endif %}
    <form action="addUser.php" method="post">
      <form action="addUser.php" method="post">
        <label for="uname">Username</label><input type="email" id="uname" name="uname" required pattern=".{6,}" placeholder="example@email.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Enter a valid e-mail adress"><br>
        <label for="pwd">Password</label><input class="pwd" type="password" id="pwd" name="pwd" required pattern=".{8,}" title="Your password need to be atleast 8 characters"><br>
        <label for="pwd1">Confirm password</label><input class="pwd" type="password" id="pwd1" name="pwd1" required pattern=".{8,}" title="Your password need to be atleast 8 characters"> <span id="noEqual">The two passwords must match</span><br>
        <label for="firstName">First name</label><input type="text" id="firstName" name="firstName" required pattern=".{2,}" title="Needs two or more letters"><br>
        <label for="lastName">Last name</label><input type="text" id="lastName" name="lastName" required pattern=".{3,}" title="Needs to contain 3 or more letters"><br>
        <input type="submit" value="Add user">
      </form>
      <script>
        document.querySelectorAll('.pwd').forEach(pwd=>{
          pwd.addEventListener('input', e=>{
            if (document.getElementById('pwd').value!=document.getElementById('pwd1').value) {
              document.getElementById('noEqual').style.display = "inline-block";
            } else {
              document.getElementById('noEqual').style.display = "none"; //Makes sure the passwords match
            }
          })
        })

        document.querySelector("form").addEventListener('submit', e=>{
          if (e.target.pwd.value!=e.target.pwd1.value) {  // Checks for equal passwords before sending
            e.preventDefault();
          }
        })
    </script>
  </body>
</html>
